<ion-view view-title="Settings" data-ng-controller="SettingCtrl as vm">
  <ion-content class="padding">

    <ion-refresher pulling-text="Pull to refresh..."
                   on-refresh="vm.updateList()"></ion-refresher>


      <ul class="list">
        <li class="item" data-ng-repeat="list in vm.myLists">
          {{list}}
        </li>
      </ul>



  </ion-content>

</ion-view>
