<ion-tabs class="tabs-positive tab-icon-top">
  <ion-tab title="Home" icon-on="ion-heart" icon-off="ion-ios-filing-outline"
           href="#/tab/wedding">
    <ion-nav-view name="tab-wedding"></ion-nav-view>
  </ion-tab>

  <ion-tab title="About" icon-on="ion-person" icon-off="ion-ios-clock-outline"
           href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
